<!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org"
          xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" >
    <head lang="en">
        <meta charset="UTF-8"/>
        <title>JAVABUY</title>
        <link rel="stylesheet" href="/main.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <header>
        <a href="/">
        </a>
        <h1>JavaBuy</h1>
    </header>

    <div th:insert="navbar :: navbar">  </div>

    <body>
    <h1>PRODUCTS</h1>

    <div sec:authorize="isAuthenticated()">
        Signed in as <span sec:authentication="name"></span>
    </div>

    <ul th:each="product: ${products}">
        <a th:href="@{/users/{id}(id=${product.user.id})}"><div th:text="${product.user.username}" ></div></a>
        <a th:href="@{/products/{id}(id=${product.id})}"><li th:text="${product.name}" /></a>
        <li th:text="${product.price}" />
        <li th:text="${product.description}" />
        <img th:src="${product.photo}" />
        <form action="#" th:action="@{/purchase/{id} (id=${product.getId()})}" th:object="${product}" method="get">
            <input type="submit" value="PURCHASE!"/>
        </form>

            <form action="#" th:action="@{/favourites/{id} (id=${product.getId()})}" th:object="${favouriteItems}" method="post">
                <input type="submit" onclick="myFunction()" value="Add to favourites" /> 
                </form>
                
                <div id="myDIV">
                    Added to Favourites!
                    </div>

                <script>
                    function myFunction() {
                      var x = document.getElementById("myDIV");
                      if (x.style.display === "none") {
                        x.style.display = "block";
                      } else {
                        x.style.display = "none";
                      }
                    }
                    </script>
        
    </ul>
    </body>
</html>
