<!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org"
          xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" >
    <head lang="en">
        <meta charset="UTF-8"/>
        <title>JAVABUY</title>
        <link rel="stylesheet" href="/main.css" />
    </head>

    <form th:action="@{/products/search}">
        Filter: <input type="text" name="keyword" id="keyword" size="50" th:value="${keyword}" required />
        &nbsp;
        <input type="submit" value="Search" />
        &nbsp;
        <input type="button" value="Clear" id="btnClear" onclick="clearSearch()" />
    </form>
   
    <tr th:each="product : ${listProducts}">
        <td th:text="${product.name}">Name</td>
        <td th:text="${product.price}">Price</td>
        <td th:text="${product.description}">Description</td>
        <td>

 <script type="text/javascript">
        function clearSearch() {
            window.location = "[[@{/products/search}]]";
        }
    </script>


    <body>