header {
    background-color: #eecc98;
    opacity: 0.8;
    color: black;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px 0px;
    border-radius: 20px;
}

h1 {
    font-family: 'Monaco', cursive;
    font-size: 60;
    color: black;
    word-spacing: 2;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 30px;
}

.navbar {
    overflow: hidden;
    background-color: #ebf18a;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    border-radius: 10px;
    font-family: 'Monaco', cursive;
    font-size: 40;
}

.navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
  
.navbar a.right {
    float: right;
}
  
.navbar a:hover {
    animation-name: link-color;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
}

.posts-main {
    border-collapse: collapse;
}

.post-main {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
    margin-bottom: 0.5rem;;
}

@keyframes link-color {
    100% {
      color: #c3e5f0;
      background-color: rgba(34, 32, 32, 0.518);
    }
}