html {
    font-family: 'Monaco', cursive;
}

.javabuy {
    background-color: #4040d3;
    opacity: 0.8;
    color: rgb(255, 255, 255);
    font-size: 50px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0px 0px;
}

h1 {
    font-family: 'Monaco', cursive;
    font-size: 60;
    color: black;
    word-spacing: 2;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 30px;
}

.navbar {
    overflow: hidden;
    background-color: #cae0b3;
    font-family: 'Monaco', cursive;
    font-size: 40;
    padding: 0;
}

.navbar a {
    float: left;
    /* display: block; */
    color: black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
  
.navbar a.right {
    float: right;
}
  
.navbar a:hover, .btn:hover {
    animation-name: link-color;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
}

.posts-main {
    border-collapse: collapse;
}

.post-main {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
    margin-bottom: 0.5rem;;
}

@keyframes link-color {
    100% {
      color: #c3e5f0;
      background-color: rgba(34, 32, 32, 0.518);
    }
}

#basket {
    height: 20px;
    width: auto;  
    object-fit: contain;
    float: right;
}

.product {
    display: flex;
    border: 5px;
    border-radius: 10px;
    background-color: #d9eeea;
    margin: 10px;
    padding: 10px;
    overflow-wrap: break-word;
    width: 250px;
    justify-content: center;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}
.prodview {
    display: flex;
    text-align: center;
    display:table-cell;
}

.prodimg, .revimg {
    width: 220px;
    height: auto;
    border-radius: 10px;
}

header {
    width: 100%;
    min-width: 1300px;
}

body {
    display: inline;
}

.contact-form {
    width: 500px;
    background-color: #fff;
    box-shadow: 0 0 10px 0 #999;
    margin-top: 220px;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    padding: 20px;
}

.btn {
    border-radius: 20px;
    color: black;
    margin-top: 10px;
    padding: 10px;
    background-color: rgb(231, 249, 230);
    font-size: 12px;
    border: none;
    cursor: pointer;
    overflow-wrap: break-word;
}

.table {
    font-family: 'Monaco', cursive;
    color: black;
    margin-top: 50px;
    padding: 20px;
    font-size: 20px;
    column-gap: 40px;
}

.search-table {
    border-collapse: separate;
    border-spacing: 0 15px;
    display: flex;
    justify-content: center;
}

.search-table th, .search-table td {
    width: 150px;
    text-align: center;
    border: 1px solid black;
    padding: 5px;
}

#desc {
    width: 300px;
}

.search {
    font-family: 'Monaco', cursive;
    color: black;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

tr:hover {background-color: rgb(235, 210, 247);}

.authorization {
    float: right;
    font-family: 'Monaco', cursive;
    font-size: 15px;
    padding: 0px 20px 60px 0px;
}

.accountoptions {
    width: 150px; 
    float:left; 
    padding: 20px;
    text-align: center; 
    background: #a1ecb2; 
    margin:10px;
    font-family: 'Monaco', cursive;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 0 10px 0 rgb(203, 240, 240);
    display: flex;
    border: 5px;
    border-radius: 10px;
    background-color: #d9eeea;
    overflow-wrap: break-word;
    justify-content: center;
    cursor: pointer;
    margin-top: 50px;
}

.bigpic {
    width: 300px;
    height: auto;
    padding: 0px 0px 0px 60px;
}

.accountitems {
    width: 250px; 
    float:left; 
    padding: 20px;
    text-align: center; 
    background: #a1ecb2; 
    margin:10px;
    font-family: 'Monaco', cursive;
    font-size: 16px;
    border: 5px;
    border-radius: 10px;
    background-color: #d9eeea;
    margin-top: 50px;
    overflow-wrap: break-word;
}

.textarea-field {
    height: 100px;
    width: 400px;
    padding-top: 5px;
}

.sold {
    font-size: 20px;
    color: red;
}