<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head lang="en">
  <meta charset="UTF-8" />
  <title>JAVABUY</title>
  <link rel="stylesheet" href="/main.css" />
</head>
<header>
  <a href="/">
  </a>
  <h1>JavaBuy</h1>
</header>

<div th:insert="navbar :: navbar"> </div>

<body>
  <h1>MESSAGES</h1>

  <div sec:authorize="isAuthenticated()">
    Signed in as <span sec:authentication="name"></span>
  </div>

  <div th:if="${receivedEnquiries.iterator().hasNext()}">
    <h2>Your received enquiries</h2>
    <table>
      <tr>
        <th>From</th>
        <th>Subject</th>
        <th>Last updated</th>
      </tr>
      <div th:each="message: ${receivedEnquiries}">
        <tr>
          <td th:text="${message.enquirer.username}"></td>
          <td>
            <a th:href="@{/messages/{productid}/{enquirerid} (productid=${message.product.id}, enquirerid=${message.enquirer.id})}">
              <div th:text="${message.product.name}"></div>
            </a>
          </td>
          <td th:text="${message.timestamp}"></td>
        </tr>
      </div>
    </table>
  </div>

  <div th:if="${sentEnquiries.iterator().hasNext()}">
    <h2>Your sent enquiries</h2>
    <table>
      <tr>
        <th>To</th>
        <th>Subject</th>
        <th>Last updated</th>
      </tr>
      <div th:each="message: ${sentEnquiries}">
        <tr>
          <td th:text="${message.seller.username}"></td>
          <td>
            <a th:href="@{/messages/{productid}/{enquirerid} (productid=${message.product.id}, enquirerid=${message.enquirer.id})}">
              <div th:text="${message.product.name}"></div>
            </a>
          </td>
          <td th:text="${message.timestamp}"></td>
        </tr>
      </div>
    </table>
  </div>

  <div th:unless="${sentEnquiries.iterator().hasNext() || receivedEnquiries.iterator().hasNext()}">
    No messages found.
  </div>
    <!-- <a th:text="${message.sender.username}"></a>
    <li th:text="${message.timestamp}" />
    <li th:text="${message.content}" />
  </div> -->
</body>

</html>