<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head lang="en">
  <meta charset="UTF-8" />
  <title>JAVABUY</title>
  <link rel="stylesheet" href="/main.css" />
</head>

<body>

  <h1>MESSAGES</h1>

  <div sec:authorize="isAuthenticated()">
    Signed in as <span sec:authentication="name"></span>
  </div>

  <ul th:each="enquirer: ${enquirers}">
    <li th:text="${enquirer.username}" />
    </ul>
  <div th:if="${user == enquirer || user == product.user}">
  <ul th:each="message: ${messages}">
    <a th:text="${message.sender.username}"></a>
    <li th:text="${message.timestamp}" />
    <li th:text="${message.content}" />
  </ul>

  <form action="#" th:action="@{/messages/{productid}/{enquirerid} (productid=${product.id}, enquirerid=${enquirer.id})}" th:object="${message}" method="post">
    <p>Send a reply: <input type="text" th:field="*{content}" />
      <input type="submit" value="Submit" /> <input type="reset" value="Reset" />
    </p>
  </form>
  </div>
  <div th:unless="${user == enquirer || user == product.user}">
    Nothing found.
  </div>

</body>

</html>