<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head lang="en">
  <meta charset="UTF-8" />
  <title>JAVABUY</title>
  <link rel="stylesheet" href="/main.css" />
</head>

<header>
  <a href="/">
  </a>
  <h1 class="javabuy">JavaBuy</h1>

  <div th:insert="navbar :: navbar">  </div>
</header>

<body>

  <h1>Message Detail</h1>

  <div sec:authorize="isAuthenticated()">
    Signed in as <span sec:authentication="name"></span>
  </div>
  <a th:href="@{/messages}">Back to Messages</a>

  <div th:if="${user == enquirer || user == seller}">
    <div th:if="${user == enquirer}">
      <h2>To: <a th:href="@{/users/{id}(id=${seller.id})}">[[${seller.username}]]</a></h2>
    </div>
    <div th:if="${user == seller}">
      <h2>To: <a th:href="@{/users/{id}(id=${enquirer.id})}">[[${enquirer.username}]]</a></h2>
    </div>
    <div th:unless="${product == null}">
      <h2>Subject: <a th:href="@{/products/{id} (id=${product.id})}">[[${product.name}]]</a></h2>
    </div>
    <div th:each="message: ${messages}">
      <ul>
        <li th:inline="text">[[${message.sender.username}]] on [[${message.formatTimestamp()}]]:</li>
        <blockquote th:text="${message.content}"></blockquote>
      </ul>
    </div>
    <div th:unless="${product == null}">
      <form action="#" th:action="@{/messages/{sellerid}/{enquirerid}?productid=__${product.id}__ (sellerid=${seller.id}, enquirerid=${enquirer.id})}"
        th:object="${message}" method="post">
        <p>Send a reply: <input type="text" th:field="*{content}" />
          <input type="submit" value="Submit" /> <input type="reset" value="Reset" />
        </p>
      </form>
    </div>
    <div th:if="${product == null}">
      <form action="#" th:action="@{/messages/{sellerid}/{enquirerid} (sellerid=${seller.id}, enquirerid=${enquirer.id})}"
        th:object="${message}" method="post">
        <p>Send a reply: <input type="text" th:field="*{content}" />
          <input type="submit" value="Submit" /> <input type="reset" value="Reset" />
        </p>
      </form>
    </div>
  </div>
  <div th:unless="${user == enquirer || user == seller}">
    Nothing found.
  </div>

</body>

</html>