<!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org"
          xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" >
    <head lang="en">
        <meta charset="UTF-8"/>
        <title>Account</title>
        <link rel="stylesheet" href="/main.css" />
    </head>
    
    <header>
        <a href="/">
        </a>
        <h1 class="javabuy">JavaBuy</h1>
    
        <div th:insert="navbar :: navbar">  </div>
    </header>

    <body>

    <h1>My Account</h1><div class="authorization" sec:authorize="isAuthenticated()">
        Signed in as <span sec:authentication="name"></span>
    </div>


   <div class="accountoptions"><btn onclick="window.location.href='/accountdetails'">Change Account Details</btn></div>
   <div class="accountoptions"><btn onclick="window.location.href='/reviews'">See Buyer Reviews</btn></div>
    <div class="accountoptions"><btn onclick="window.location.href='/listeditems'">View Listed Items</btn></div>
    <div class="accountoptions"><btn onclick="window.location.href='/solditems'">View Sold Items</btn></div>
  
  </body>
</html>