<!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org"
          xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" >
    <head lang="en">
        <meta charset="UTF-8"/>
        <title>Change Account Details</title>
        <link rel="stylesheet" href="/main.css" />
    </head>
    <body>
    
    <header>
        <h1>JavaBuy</h1>
    </header>

    <div th:insert="navbar :: navbar">  </div>

    <h1>Change Account Details</h1><div class="authorization" sec:authorize="isAuthenticated()">
        Signed in as <span sec:authentication="name"></span>
    </div>

    <p>Change Account Password </p>
    <p><input type="text" value="New Password" /></p>
    <p><button> Submit </button></p>

  </body>
  </html>