<!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org"
          xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" >
    <head lang="en">
        <meta charset="UTF-8"/>
        <title>Listed Items</title>
        <link rel="stylesheet" href="/main.css" />
    </head>
    <body>
    
    <header>
        <h1>JavaBuy</h1>
    </header>

    <div th:insert="navbar :: navbar">  </div>

    <h1>My Listed Items</h1><div class="authorization" sec:authorize="isAuthenticated()">
        Signed in as <span sec:authentication="name"></span>
    </div>


    <!-- <ul th:each="product: ${soldProducts}">
      <li th:text="${product.name}" />
      <li th:text="${product.price}" />
      <li th:text="${product.description}" />
      <img th:src="${product.photo}" />
      </ul>
       -->
  </body>
  </html>