<!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org"
          xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" >
    <head lang="en">
        <meta charset="UTF-8"/>
        <title>Listed Items</title>
        <link rel="stylesheet" href="/main.css" />
    </head>
    
    <header>
        <a href="/">
        </a>
        <h1 class="javabuy">JavaBuy</h1>
    
        <div th:insert="navbar :: navbar">  </div>
    </header>

    <body>

    <h1>My Listed Items</h1><div class="authorization" sec:authorize="isAuthenticated()">
        Signed in as <span sec:authentication="name"></span>
    </div>

    <a th:href="@{/account}">Back to Account Details</a>

    <ul th:each="product: ${listedProducts}">
      <li th:text="${product.name}" />
      <li th:text="${product.price}" />
      <li th:text="${product.description}" />
      <img th:src="${product.photo}" />
      <div th:if="${product.sold}">
        <div>Sold!</div>
        </div>
      </ul>
      
  </body>
  </html>