<!DOCTYPE html>
  <html xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" >
  <head lang="en">
      <meta charset="UTF-8"/>
      <title>JAVABUY</title>
      <link rel="stylesheet" href="/main.css" />
  </head>

  <header>
    <a href="/">
    </a>
    <h1>JavaBuy</h1>
  </header>
  
  <div th:insert="navbar :: navbar">  </div>
  
 
    <h1>YOU ARE LOOKING TO PURCHASE:</h1>

      <li th:text="${product.name}" />
      <li th:text="${product.price}" />
      <img th:src="${product.photo}" />
      <p> To confirm purchase, please click below: </p>
      <form action="#" th:action="@{/shoppingCart/addProduct/{id} (id=${product.id})}" th:object="${product}" method="get">
          <input type="submit" value="Add to cart"/>
      </form>
    </ul>
  </body>

