<!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org"
          xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" >
    <head lang="en">
        <meta charset="UTF-8"/>
        <title>Favourites</title>
        <link rel="stylesheet" href="/main.css" />
    </head>
    
    <header>
        <a href="/">
        </a>
        <h1 class="javabuy">JavaBuy</h1>
    
        <div th:insert="navbar :: navbar">  </div>
    </header>

    <body>
    
    <div sec:authorize="isAuthenticated()">
        <h1><span sec:authentication="name"></span>'s Favourites</h1>
    </div>
    <br>
    <br>

    <div class="flex-container">
    <ul class="product" th:each="favourite: ${favourites}">
        <a th:href="@{/products/{id}(id=${favourite.product.id})}"><p th:text="${favourite.product.name}" ></p>
        <img class="prodimg" th:src="${favourite.product.photo}" />

        <br>
        <div th:inline="text">£[[${favourite.product.price}]]</div></a>
        <br>

        <form action="#" th:action="@{/favourites/remove/{id} (id=${favourite.product.id})}" method="post">
            <input class="btn" type="submit" value="Remove from favourites!"/>
        </form>
    <br>
    <br>
    </ul>
    </div>
  </body>
</html>