<!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org"
          xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" >
    <head lang="en">
        <meta charset="UTF-8"/>
        <title>Sold Items</title>
        <link rel="stylesheet" href="/main.css" />
    </head>
    
    <header>
        <a href="/">
        </a>
        <h1 class="javabuy">Chicken Coop</h1>

    <div th:insert="navbar :: navbar">  </div>
    </header>

    <body>

    <h1>Submission Confirmation</h1><div class="authorization" sec:authorize="isAuthenticated()">
        Signed in as <span sec:authentication="name"></span>
    </div>

    <div class=confirmation>
      <p>Thank you for your message.</p>
      <p>Someone from our customer service team will get back to you soon.</p>
    </div>
    </body>
</html>