<!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org"
          xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" >
    <head lang="en">
        <meta charset="UTF-8"/>
        <title>NavigationBar</title>
        <link rel="stylesheet" href="/main.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/fontawesome.min.css">
    </head>
    <body>

      <nav th:fragment="navbar" class="navbar">
          <div class="container-fluid">
              <div class="navbar-header">
                  <a class="navbar-brand" th:href="@{/}">Home</a>
              </div>
              <ul class="nav navbar-nav">
                  <a class="navbar" th:href="@{/products}">Buy</a>
                  <a class="navbar" th:href="@{/addproducts}">Sell</a>
                  <a class="navbar" th:href="@{/products/search}">Find items</a>
                  <a class="navbar" th:href="@{/favourites}">My Favourites</a>

              </ul>
              <ul>
                <li sec:authorize="isAuthenticated()">
                    <a class ="navbar right" th:href="@{/shoppingCart}"><img src="/basket.png" id="basket"/></a>
                </li>
                
                <div sec:authorize="isAuthenticated()">
                    <a class="navbar right" th:href="@{/logout}">Logout</a> 
                </div>

                <div sec:authorize="!isAuthenticated()">
                    <a class="navbar right" th:href="@{/users}">Log in</a>
        
                    <a class="navbar right" th:href="@{/users/new}">Sign up</a>
                </div>

                <div sec:authorize="isAuthenticated()">
                    <a class="navbar right" th:href="@{/contact_page}">Contact us!</a> 

                    <a class="navbar right" th:href="@{/account}">Account</a>

                    <a class="navbar right" th:href="@{/messages}">Messages</a>
                </div>
                  
              </ul>
          </div>    
      </nav>
      
      </body>
      </html>