<!DOCTYPE html>
  <html xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" >
  <head lang="en">
      <meta charset="UTF-8"/>
      <title>JAVABUY</title>
      <link rel="stylesheet" href="/main.css" />
  </head>
  <header>
      <a href="/">
      </a>
      <h1 class="javabuy">JavaBuy</h1>
  </header>

  <h1> PAYMENT </h1>
  <br>
  <br>
  <h2>Order details:</h2>
  <div th:each="product : ${products.entrySet()}">
    <ul>
        <li th:text="${product.getKey().name}"></li>
    </ul>
  </div>
  <h2 th:inline="text">Total: £[[${total}]]</h2>

  <body>
    <!-- Replace "test" with your own sandbox Business account app client ID -->
    <script src="https://www.paypal.com/sdk/js?client-id=test&currency=GBP"></script>
    <!-- Set up a container element for the button -->
    <div id="paypal-button-container"></div>
    <script th:inline="text">
      paypal.Buttons({
        // Sets up the transaction when a payment button is clicked
        createOrder: (data, actions) => {
          return actions.order.create({
            purchase_units: [{
              amount: {
                value: [[${total}]] // Can also reference a variable or function
              }
            }]
          });
        },
        // Finalize the transaction after payer approval
        onApprove: (data, actions) => {
          return actions.order.capture().then(function(orderData) {
            // Successful capture! For dev/demo purposes:
            console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
            const transaction = orderData.purchase_units[0].payments.captures[0];
            // alert(`Transaction ${transaction.status}: ${transaction.id}\n\nSee console for all available details`);
            // // When ready to go live, remove the alert and show a success message within this page. For example:
            // const element = document.getElementById('paypal-button-container');
            // element.innerHTML = '<h3>Thank you for your payment!</h3>';
            // Or go to another URL:  actions.redirect('thank_you.html');
            document.location.href= '/refresh';
          });
        }
      }).render('#paypal-button-container');
    </script>
  </body>
</html>

